<div class="row">
<ul class="list-group" id="fecha{{idFecha}}">
    <li class="list-group-item">
        <h4>
        {{fecha}}
        </h4>
        <form class="d-inline float-right form-inline">
        <button id="delete{{idEncuesta}}{{idFecha}}" type="submit" class="btn btn-danger"><span class="fas fa-trash-alt"></span></button>
        </form>
    </li>
</div>