<li class="list-group-item">
    {{horaInicio}}-{{horaFin}}
    <form class="d-inline float-right form-inline">
        <button type="submit" class="btn btn-danger btn-sm"><span class="fas fa-trash-alt"></span></button>
    </form>
</li>