<li class="list-group-item">
    <form class="d-inline float-right form-inline" id="formhora">
       <input type="time" name="horaInicio" class="form-control form-control-sm" min="00:00" max="23:59" required>
		<input type="time" name="horaFin" class="form-control form-control-sm" min="00:00" max="23:59" required>
        <button type="button" id="add{{idEncuesta}}{{idFecha}}" class="btn btn-primary btn-sm float-right"><span class="fas fa-plus-circle"></span></button>
    </form>
</li>