<h1>{{nombre}}</h1>

<div id="encuesta">
	<table class="table table-responsive">
		<thead>
			<tr id="dates">
				<th colspan="2" class="locale-Dates">Dates</th>
			</tr>

			<tr id="hours">
				<th colspan="2" class="locale-Hours">Hours</th>
			</tr>
		</thead>

		<tbody id="userTuples"></tbody>
		
	</table>
</div>