<div id="titulo">
<h1>{{nombreEncuesta}}</h1>
<h2>Edita tu encuesta</h2>
</div>

<div id="tablasFechas" class="container mx-auto">

</div>

<div>
   <h3>Nueva fecha</h3>
<form>
    <input type="date"/>
    <button type="submit" class="btn btn-primary btn-sm"><span class="fas fa-plus-circle"></span></button>
</form>
<h2>
    Difunde tu encuesta compartiendo el siguiente link
</h2>

<input type="text" readonly="readonly" size="50" value="localhost/{{linkEncuesta}}">