<div id="titulo">
<h1>{{nombreEncuesta}}</h1>
<h2 class="locale-EditPoll">Edit poll</h2>
</div>

<div id="tablasFechas" class="container mx-auto">

</div>

<div>
   <h3 class="locale-NewFecha">New date</h3>
<form id="addDateForm">
    <input type="date" name="fecha">
    <button type="submit" class="btn btn-primary btn-sm"><span class="fas fa-plus-circle"></span></button>
</form>
<h2 class="locale-ShareLink">
    Now you'll be able to edit your poll, decide which days to vote, and share the generated link so other people can begin voting.
</h2>

<input type="text" readonly="readonly" size="50" value="localhost/#{{idEncuesta}}">