<nav class="navbar navbar-bg">
		<a href="/" class="float-left" href="#">
			<img src="/images/logotipo.png" alt="logotipo" height="64" class="d-inline-block"/>
		</a>

		<div class="btn-group">
			<button id="es" class="btn btn-default btn-locale"><i class="em em-flag-ea"></i></a>
			<button id="en" class="btn btn-default btn-locale"><i class="em em-gb"></i></a>
		</div>

		
		<div class="btn-group float-right" id="loggedButtons"></div>

</nav>
