<div class="row">
	<div class="col"></div>
	<div class="col-lg login-form">
		<form id="formularioLogin">
			<h2 class="text-center locale-Login">Log In</h2>

			<div id="msg"></div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="email" required="required" name="email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="password" required="required" name="password">
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block locale-Enter" value="Login">Enter</button>
			</div>
		</form>
		<p class="text-center locale-Register"><a href="#" id="registerButton">Register</a></p>
	</div>
	<div class="col"></div>
</div>
