<div class="row">
	<div class="col"></div>
	<div class="col-lg login-form">
		<form id="formularioRegister">
			<h2 class="text-center locale-Register">
				Register
			</h2>

			<div id="msg"></div>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email"
				required="required" name="email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password"
				required="required" name="password">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name"
				required="required" name="nombre">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block locale-Register" value="Registro">Register</button>
			</div>
		</form>
	</div>
	<div class="col"></div>
</div>