<li id="id{{id}}" class="list-group-item">
	<a href="#">
		{{nombre}}
	</a>

	<div class="pull-right">
			<button id="edit{{id}}" class="btn btn-primary"><i class="fas fa-pen-square"></i></button>
			<button id="delete{{id}}" class="btn btn-danger"><i class="fas fa-minus-square"></i></button>
	</div>
</li>