<div id="listaEncuestas">
<h3 class="locale-Polls">Polls</h3>

<ul class="list-group" id="encuestas"></ul>

<br>

<h3 class="locale-SharedPolls">Shared polls</h3>

<ul class="list-group" id="encuestasCompartidas"></ul>

</div>